services:
##Entity##
	- App\Router\RouterFactory::createRouter
	- App\Entity\Users
	- App\Entity\Animal
	- App\Entity\News
	- App\Entity\Message
	- App\Entity\Adoption
	- App\Entity\AdoptionAction
	- App\Entity\Photo
	- App\Entity\Owner
	- App\Entity\Azyl
	- App\Entity\Species
##Enum##

##Factory##
	- App\Forms\SignInFormFactory


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade

extensions:
    # Common
    #nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
    # DBAL
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

    # ORM
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    #nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

nettrine.orm.attributes:
	mapping: [
		App\Entity: %appDir%/Model/Orm/Entity
		App\Enums: %appDir%/Model/Orm/Enums
		    ]

		# Bootstrap Form

nettrine.migrations:
	directory: %appDir%/Migrations
	namespace: DB\Migrations

nettrine.dbal:
	connection:
		driver: %database.driver%
		host: %database.host%
		port: %database.port%
		dbname: %database.dbname%
		user: %database.user%
		password: %database.password%
		charset:  UTF8
		serverVersion: '15.0'
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]