{block content}
<div class="bg">
    <div class="content">
        {snippet signin}
        <section class="mb-9 mb-lg-10 mb-xxl-11 text-center text-lg-start mt-1" id="signIn">

        </section>
        {/snippet}
    </div>
</div>
{/block}